html{
	font-size: 1.5em;
}

@font-face{
	font-family: "unified_mono";
	src: local("FreeMono"),
		 url("/Fonts/FreeMono.otf") format("opentype"),
		 url("/Fonts/FreeMono.ttf") format("truetype");
	font-weight: normal;
}

footer{
	display: block;
	width: 100%;
	max-height: 30%;
	position: fixed;
	bottom: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.5);
}

footer img{
	display: inline-block;
	max-height: 15%;
	height: 10%;
	max-width: 5%;
}

footer img[src="HTML5_Logo_Badge.svg"], footer img[src="svg-logo.svg"]{
	width: 2%;
}

h, h1, h2, h3, h4, h5, h6{
	background-color: firebrick;
	color: gold;
	border-radius: .2em;
	-moz-border-radius: .2em;
	margin: 0 auto;
	text-align: center;
	margin-top: .4em;
	/*word-break: break-all;*/
}

h3, h4, h5, h6{
	text-align: left;
}

header h1 span{
	font-weight: 900;
	font-stretch: extra-expanded;
	font-size: 1.5em;
}

figcaption{
	text-align: right;
	font-style: italic;
}

main{
	padding-bottom: 3em;
}

main, header{
	width: 95%;
	margin: 0 auto;
	background-color: bisque
}

a, a:hover, a:active, a:focus, a:visited{
	outline: 0;
	font-style: italic;
	color: black;
	text-decoration: underline;
}

section, article{
	display: block;
	position: relative;
	clear: both;
	width: 100%;
	text-align: justify;
	/*overflow: auto;*/
}

section::after{
	content: ' ';
	height: 0;
	display: block;
	clear: both;
}

p{
	width: 100%;
}

img{
	width: 100%;
	text-align: right;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

figure{
	position: relative;
	display: block;
	width: 20em;
	float: right;
	clear: both;
}

math[display="block"]{
	display: block;
	overflow: visible;
	max-width: 98% !important;
}

.center_pic{
	float: none;
	clear: both;
	margin: 0 auto !important;
	text-align: center !important;
	position: static;
	width: 100%;
	display: inline-block;
}

.center_pic > img{
	text-align: center !important;
	position: static;
	margin: 0 auto !important;
	width: 50%;
}

.types_chart{
	-webkit-display: -webkit-box;
	-webkit-display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-justify-content: space-between;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.types_chart > span{
	flex: auto;
	text-align: center;
}

table{
	margin: 0 auto;
	text-align: center;
}

table, tr, td, th, td > img{
	border: 2px solid black;
	max-width: 100%;
	word-break: break-all;
	overflow: hidden;
}

ul, ol{
	margin-left: 0.3em;
}

/*div#page_loader{
	display: block;
	position: absolute;
	top: 0;
	bottom: 0%;
	left: 0;
	right: 0%;
	background-color: white;
	z-index: 99;
	text-align: center;
	width: 100%;
	padding-top: 25px;
	display: none;
}*/

@media only screen and (max-width: 490px){
	img, .center_pic > img{
		width: 100%;
	}
	figure{
		width: 100%;
		position: inherit;
		float: none;
		display: block;
		margin: 0 auto;
		text-align: center;
	}
}

@media only screen and (max-width: 600px){
	img, .center_pic > img{
		width: 80%;
	}
	figure{
		width: 100%;
		position: inherit;
		float: none;
		display: block;
		margin: 0 auto;
		text-align: center;
	}
	html{
		font-size: 1.3em;
	}
}
